<div id="zoo">
  <h1>Welcome to the Zoo</h1>

  <input type="text" name="name", placeholder="Name">
  <button>Make Anmial</button>
  <ul id="animals"></ul>
</div>

<script id="entry-template" type="text/x-handlebars-template">

  <h1 class="animal">{{ name }}</h1>

</script>

